<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>admin</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>webapp.login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>webapp.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorServlet</display-name>
    <servlet-name>AddDoctorServlet</servlet-name>
    <servlet-class>webapp.Doctor.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorServlet</servlet-name>
    <url-pattern>/AddDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileServlet</display-name>
    <servlet-name>AdminProfileServlet</servlet-name>
    <servlet-class>webapp.HospitalAdmin.AdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileServlet</servlet-name>
    <url-pattern>/AdminProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalAdminServlet</display-name>
    <servlet-name>HospitalAdminServlet</servlet-name>
    <servlet-class>webapp.HospitalAdmin.HospitalAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalAdminServlet</servlet-name>
    <url-pattern>/HospitalAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHospitalAdmin</display-name>
    <servlet-name>AddHospitalAdmin</servlet-name>
    <servlet-class>webapp.HospitalAdmin.AddHospitalAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHospitalAdmin</servlet-name>
    <url-pattern>/AddHospitalAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>activateadmin</display-name>
    <servlet-name>activateadmin</servlet-name>
    <servlet-class>webapp.HospitalAdmin.activateadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activateadmin</servlet-name>
    <url-pattern>/activateadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deactivatehospitaladmin</display-name>
    <servlet-name>deactivatehospitaladmin</servlet-name>
    <servlet-class>webapp.HospitalAdmin.deactivatehospitaladmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deactivatehospitaladmin</servlet-name>
    <url-pattern>/deactivatehospitaladmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDoctorServlet</display-name>
    <servlet-name>RegisterDoctorServlet</servlet-name>
    <servlet-class>webapp.Doctor.RegisterDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDoctorServlet</servlet-name>
    <url-pattern>/RegisterDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>webapp.appointments.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approveppointment</display-name>
    <servlet-name>Approveppointment</servlet-name>
    <servlet-class>webapp.appointments.Approveppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approveppointment</servlet-name>
    <url-pattern>/Approveppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointment</display-name>
    <servlet-name>DeleteAppointment</servlet-name>
    <servlet-class>webapp.appointments.DeleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointment</servlet-name>
    <url-pattern>/DeleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAppointment</display-name>
    <servlet-name>AddAppointment</servlet-name>
    <servlet-class>webapp.appointments.AddAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAppointment</servlet-name>
    <url-pattern>/AddAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalSelect</display-name>
    <servlet-name>HospitalSelect</servlet-name>
    <servlet-class>webapp.Doctor.HospitalSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalSelect</servlet-name>
    <url-pattern>/HospitalSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorHome</display-name>
    <servlet-name>DoctorHome</servlet-name>
    <servlet-class>webapp.Doctor.DoctorHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorHome</servlet-name>
    <url-pattern>/DoctorHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSymptoms</display-name>
    <servlet-name>AddSymptoms</servlet-name>
    <servlet-class>webapp.Symptoms.AddSymptoms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSymptoms</servlet-name>
    <url-pattern>/AddSymptoms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientHistoryServlet</display-name>
    <servlet-name>PatientHistoryServlet</servlet-name>
    <servlet-class>webapp.Patients.PatientHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientHistoryServlet</servlet-name>
    <url-pattern>/PatientHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPrescription</display-name>
    <servlet-name>AddPrescription</servlet-name>
    <servlet-class>webapp.Prescription.AddPrescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPrescription</servlet-name>
    <url-pattern>/AddPrescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodaysAppointmentServlet</display-name>
    <servlet-name>TodaysAppointmentServlet</servlet-name>
    <servlet-class>webapp.appointments.TodaysAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodaysAppointmentServlet</servlet-name>
    <url-pattern>/TodaysAppointmentServlet</url-pattern>
  </servlet-mapping>
</web-app>